*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    background-color: black;
    
    
    
}


nav ul {
    display: flex;
    justify-content: end;
    color: white; 
    
}

nav ul li:hover{
    color: red;
}

 nav ul li {
    
    list-style: none;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    
 }   

 #navbarsag{
    margin-right: auto;
 }

 body{
    background-image: url("Home.jpg");

 }

 .aboutmehead{
    margin-top: 3rem;
    text-align: center;
 }


.aboutmeimg{
    width: 46%;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.aboutmep{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    margin-left: 2rem;

}

.workshead{
    margin-top: 3rem;
    text-align: center;
}

.slider {
    width: 100%; /* Slider'ın genişliği */
    height: 400px; /* Slider'ın yüksekliği */
    overflow: hidden; /* İçerikleri sınırların içinde tut */
    position: relative; /* Pozisyonu belirle */
  }


  .slide {
    width: 100%; /* Slaytın genişliği */
    height: 100%; /* Slaytın yüksekliği */
    position: absolute; /* Pozisyonu    belirle */
    top: 0; /* Üst taraftan başlasın */
    left: 0; /* Sol taraftan başlasın */
    opacity: 0; /* İlk slaytı gizle */
    transition: opacity 1s ease-in-out; /* Geçiş efekti */
  }

  .slide.active {
    opacity: 1; /* Aktif slaytın görünürlüğü */
  }

  .slide img {
    width: 100%; /* Resmin genişliği */
    height: 100%; /* Resmin yüksekliği */
    object-fit: cover; /* Resmi boyutlandır */
  }

 .iframeconteiner{
    display: inline-block;
    margin-left: 14rem;
    margin-top: 3rem;

   
 }

 .Showreelhead{
    margin-top: 3rem;
    text-align: center;
 }


 .skills {
    padding: 50px 0;
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: center;
  }
  
  .skills h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
  }
  
  .skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .skills li {
    margin-bottom: 30px;
  }
  
  .skills h3 {
    margin-bottom: 10px;
  }
  
  .skill-bar {
    height: 50px;
    position: relative;
  }
  
  .skill-level {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #f2f2f2;
  }
  
  .skill-level:before {
    content: attr(data-value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }
  
  .skill-level.html {
    background-color: red;
  }
  
  .skill-level.css {
    background-color: #2965f1;
  }
  
  .skill-level.js {
    background-color: #f0db4f;
  }

  .Contact{
    margin-top: 3rem;
    text-align: center;
  }

  .text{
    padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #333;
  }

  .email{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: #333;

  }

  .phone{
    padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #333;
  }

  .inputs{
    width: 50%;
    height: 300px;
  }

.button{
    background-color: red;
    color: white;
    font-style: italic;
    padding: 15px;
    width: 406px;
}


.socialmediatag{

  list-style-type: none;
  margin-right: 3rem;
  margin-top: -15rem;
  display: flex;
  margin-left: 49rem;
  justify-content: space-between;
}  


footer {
  background-color: #f5f5f5;
  color: #666;
  padding: 30px;
  font-size: 16px;
  line-height: 24px;
}



footer {
  margin-top: 6rem;
  background-color:gray
  color: white;
  padding: 30px;
  font-size: 16px;
  line-height: 24px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.left-col, .center-col, .right-col {
  width: 30%;
}

.left-col h3, .center-col h3, .right-col h3 {
  margin-bottom: 20px;
  font-weight: 600;
}

.right-col {
  text-align: right;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

i {
  font-size: 18px;
  margin-right: 10px;
}

a {
  color: #666;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #333;
}

.bottom-bar {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

.center-col{
  margin-left: 28rem;
}




  
  
 
